
@font-face {
    font-family:'sann' ;
    src: url('RetroSignature.otf') format('opentype');
    font-style: normal;
    
}

.fonte {
    font-family: 'sann', Geneva, Tahoma, sans-serif;
    font-size: 200px;
    color: black;  
    background-image: url('img01.jpeg');
    padding: 0px;
    margin: 50px;
}
            

 body{
     background-size: cover;
     font-family:'Courier New', Courier, monospace;
     margin-inline: 600px;
     background-color: rgb(86, 206, 206);
     
 }
 
 ul{
     margin: 0px;
     padding: 0px;
     list-style: none;
     color: black;
     
     
 }

 ul li{
     float:left;
     width: 230px;
     height: 40px;
     opacity: .9;
     line-height:25px;
     text-align:center;
     font-size: 25px;
 }

 ul li a{
    text-decoration: none;
    display: block;
    color:rgb(27, 26, 26);  
 }

 ul li a:hover{
     background-color: rgb(25, 156, 156);
     border-bottom: 2px solid black;
 }

 ul li ul li{
     display: none;
 }
 ul li:hover ul li{
    display: block;  
 }

p {
    margin-top: 200px;
}






        