

@font-face {
    font-family:'sann' ;
    src: url('RetroSignature.otf') format('opentype');
    font-style: normal;    
}

div{
}
.main {  
    font-family: 'sann', Geneva, Tahoma, sans-serif;
    font-size: 200px;
    color:rgb(59, 119, 231); 
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px;
    padding: 0px;
    margin: 0px; 
   
}


body{
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
    background-color: rgb(43, 183, 238);
}

ul{
    margin: 10px;
    padding: 10px;
    list-style: none;
    color: black;
        
}

ul li{
    float:left;
    width: 230px;
    height: 42px;
    opacity: .9;
    line-height:28px;
    text-align:center;
    font-size: 30px;
}

ul li a{
    text-decoration: none;
    display: block;
    color:rgb(27, 26, 26); 
       
}

ul li a:hover{
    background-color: black;
    border-bottom: 2px solid black;
    color: white;    
}

ul li ul li{
    display: none;   
}
ul li:hover ul li{
    display: block;  
}







        