
.cabecalho{
    background:white;
    border-bottom: solid 5px #1092d3;
    height: 90px;
    box-sizing: content-box;
}

.logo{
    display: inline-block;
    height: 90px;
    padding: 0px;
}

.logo img {
    height:100%;
}
.logo img :hover{
   background:white;
}

.menu-toggle {
    float: right;
    color:#eee;
    background-color:rgb(138, 136, 136);
    border: solid 1px #777;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 14px 15px;
}

.menu{
    display:inline-block;
    vertical-align: top;
    height: 90px;
    padding: 25px;
}


.menu ul {
    margin: 0;
    padding: 0;
    
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color:black;
    font-size: 1.7em;
    padding: 25px;
}

.menu a:hover,
.menu a.selected {
    background-color: rgb(138, 136, 136);
    color:white;
    border-bottom: 3px solid black;
}


*{
    box-sizing: border-box;
}

body{
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    background-color: rgb(224, 222, 222);
}
@media(min-width: 841px) {
    .menu-toggle {
        display: none;
    }
}

@media(max-width:842px) {
    .menu {
        display: none;
    }
}

.div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: solid 5px dodgerblue;
    background: #fff;
    margin: 20px;
    height: calc(100% - 40px);
    background-color: black;
}






        