
/* estilo da front*/

.cabecalho{
    background:white;
    background: linear-gradient(to right, rgb(73, 72, 72), rgb(92, 122, 219));  
    height: 200px;
    width: 100%;
    box-sizing: content-box;
    color: white;
    padding: 59px;
    border-bottom: 3px white solid;
}

.logo{
    text-align: center;
    height: 200px;
    padding: 0px;
}

.logo img {
    height:100%;
}


.menu{
    text-align: center;
    vertical-align: top;
    height: 40px;
    padding: 25px;
}

.menu ul {
    margin: 0;
    padding: 0;    
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color:black;
    font-size: 1.7em;
    padding: 25px;
}

nav{
    background-color:white;
    width: 103%;
}

.menu a:hover,
.menu a.selected {
    background-color: rgb(138, 136, 136);
    color:white;
    border-bottom: 3px solid rgb(63, 62, 62);
}

/* menu slide*/
.home {
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.slider{
    margin: 0 auto;
    width: 1000px;
    height: 690px;
    overflow: hidden;
}
.slides{
    width: 2000px;
    height: 690px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 50%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 1000px;
}
.manual-navegacao{
    position: absolute;
    width: 1000px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #fff;
}
#radio1:checked ~ .first{
    margin-left: 0px;
}
#radio2:checked ~ .first{
    margin-left: -50%;
}
#radio3:checked ~ .first{
    margin-left: -100%;
}
#radio4:checked ~ .first{
    margin-left: -150%;
}
.navegacao-auto div{
    border: 2px solid rgb(92, 122, 219);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navegacao-auto{
    position: absolute;
    width: 1000px;
    margin-top: 640px;
    display: flex;
    justify-content: center;
}
.navegacao-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navegacao-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navegacao-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navegacao-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navegacao-auto .auto-btn4{
    background-color: #fff;
}




@media(min-width: 500px) {
    .menu-toggle {
        display: none;
    }
}






        